<article class="order">
  <header>

  </header>
  <table class="table table-med">
    <thead>
      <th></th>
      <th>Product</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
    </thead>
    <tbody>
      <% @order.line_items.each do |li| %>
      <tr>
        <td><%= image_tag li.product.image.tiny %></td>
        <td><%= li.product.name %></td>
        <td><%= li.short_prod_descr %></td>
        <td><%= li.quantity %></td>
        <td><%= humanized_money_with_symbol (li.total_price_cents.to_i)/100.0 %></td>
      </tr>
      <% end %>

    </tbody>
  </table>

</article>
